@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--section-dark);
}

::selection {
  background-color: #00ff88b5;
  color: var(--primary-white);
}

:root {
  --primary-white: #ffffff;
  --paragraph: rgba(255, 255, 255, 0.8);
  --paragraph-light: rgba(255, 255, 255, 0.6);
  --green: #00ff88;
  --section-light: #230e3d;
  --section-dark: #1a0b2e;
  --card-bg: rgba(53, 17, 101, 0.4);
  --episode-card-bg: #250d44;
  --gradient: linear-gradient(30deg, #f7e93f 10%, #fb09b4 50%, #9100f8 90%);
}

/* Global Clases */
.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.btn {
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-white);
  padding: 12.5px 16px;
  border-radius: 100px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-gradient {
  background: var(--gradient);
}

.btn-green {
  color: var(--green);
  border: 1px solid var(--green);
  padding: 11.5px 15px;
  transition: all 0.2s;
}

.btn-green:hover {
  color: var(--primary-white);
  background-color: var(--card-bg);
  border-color: var(--section-light);
}

.section-heading {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 16px;
}

.paragraph {
  text-align: center;
  color: var(--paragraph);
  font-size: 1rem;
  line-height: 40px;
  font-weight: 400;
}

/* Header Section Start */
#header-section {
  max-width: 1600px;
  margin: 0 auto;
}

/* NavBar Section */
.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--section-dark);
  padding: 24px 0;
  border-bottom: 1px solid #412567;
}

.logo {
  width: 219px;
  height: 34px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  padding: 2.5px 6.5px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--primary-white);
  border-radius: 4px;
}

.nav-link:hover {
  background: var(--gradient);
}

.hamburger {
  width: 24px;
  display: none;
}

/* Hero Section */
.hero-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 101px 0;
  background: url("../images/hero-bg.png"), var(--section-dark);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mic-container {
  width: 350px;
  height: 350px;
  background-image: url("../images/hero-circle.png");
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  position: relative;
}

.mic-container::before {
  content: "NEW";
  position: absolute;
  top: 15px;
  right: 28px;
  background-color: var(--green);
  color: var(--section-dark);
  padding: 8px 16px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 100px;
  animation: glowing 3s linear infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0px 0px 3px #00ff88d6;
  }


  50% {
    box-shadow: 0px 0px 20px #00ff88d6;
  }

  75% {
    box-shadow: 0px 0px 10px #00ff88d6;
  }

  100% {
    box-shadow: 0px 0px 3px #00ff88d6;
  }
}

.mic {
  width: 115px;
  animation: zoomInOut 5s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.hero-heading {
  color: var(--primary-white);
  font-size: 3.75rem;
  font-weight: 800;
  margin: 24px 0 8px;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

/* Header Section End */

/* Main Section Start */
#main-container {
  background-color: var(--section-dark);
  max-width: 1600px;
  margin: 0 auto;
}

/* About Section */
.about-section {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 80px;
}

/* About Section - Rank container */
.rank-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  gap: 40px;
  border-top: 1px solid rgba(217, 217, 217, 0.1);
}

.rank-card {
  padding: 5px 36px;
  text-align: center;
}

.rank-number {
  font-size: 2.8rem;
  color: var(--green);
  line-height: 1;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-number i {
  font-size: 2rem;
}

.rank-p {
  text-transform: uppercase;
  line-height: 1;
}

/* Why Choose Section */
.why-choose-section {
  padding: 120px 0;
  background-color: var(--section-light);
}

.grid-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 220px);
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.grid-card {
  padding: 40px;
  background-color: var(--card-bg);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-white);
}

.grid-p {
  line-height: 24px;
  text-align: left;
  color: var(--paragraph-light);
  font-weight: 400;
}

.grid-card:nth-child(1) {
  grid-row: span 2;
}

.grid-card:nth-child(2),
.grid-card:nth-child(3) {
  grid-column: span 2;
}

.grid-card:nth-child(4) {
  grid-column: span 2;
}

/* Feature Episode Section */
.episode-section {
  margin-top: 120px;
}

.feature-card-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  max-width: 380px;
  background-color: var(--episode-card-bg);
  border-radius: 30px;
  overflow: hidden;
}

.episode-video {
  width: 100%;
  height: 214px;
}

.episode-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.video-time {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: var(--green);
}

.host-section {
  margin: 120px 0;
}

.host-card {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--card-bg);
  border-radius: 40px;
}

.host-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.host-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.host-name {
  font-size: 2rem;
  margin-bottom: 0;
}

.host-name,
.host-p {
  text-align: left;
}

.host-p {
  line-height: 24px;
  font-weight: 400;
  color: var(--paragraph-light);
}

.host-socials {
  display: flex;
  gap: 8px;
}

.social-link {
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: all 0.2s;
}

.social-link:hover {
  background-color: var(--section-dark);
}

/* Main Section End */

/* Footer Section Start */
#footer-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 120px 0;
  align-items: center;
  background: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.footer-logo {
  width: 350px;
}

.footer-social-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-social {
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-social-p {
  font-size: 1rem;
  color: var(--paragraph-light);
  font-weight: 500;
  text-transform: capitalize;
}

.footer-p {
  line-height: normal;
}

/* Footer Section End */

/* Media Query Section for Responsive Design */

/* Media Query for Big Screen (Laptop/Desktop) */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .grid-card:nth-child(n) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .grid-card:nth-child(1) {
    grid-column: span 2;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  #footer-section {
    background-size: 140% 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #footer-section {
    background-size: 180% 100%;
  }

}

/* Media Query for Medium Screen (Tab/iPad) */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-card:nth-child(n) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  #footer-section {
    background-size: 120% 100%;
    padding: 40px;
  }

  .footer-social-container {
    gap: 16px;
    flex-wrap: wrap;
    width: 245px;
    justify-content: center;
  }

  .footer-logo {
    width: 250px;
  }
}

/* Media Query for Small Screen (Mobile Device) */
@media screen and (max-width: 576px) {
  .btn {
    font-size: 0.85rem;
  }

  .nav-menu,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .logo {
    width: 137px;
    height: 20px;
  }

  .hero-container {
    background-image: url("../images/hero-bg-sm.png");
    padding: 40px 0;
  }

  .menu-container {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
  }

  .mic-container {
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
  }

  .mic-container::before {
    font-size: 0.95rem;
    top: 5px;
    right: 3px;
    padding: 8px 16px;
  }

  .mic {
    width: 46px;
  }

  .hero-heading {
    font-size: 2.5rem;
  }

  .section-heading {
    font-size: 2rem;
  }

  .paragraph {
    line-height: 20px;
  }

  .rank-number {
    font-size: 2rem;
  }

  .rank-container {
    margin-top: 40px;
    justify-content: space-evenly;
    gap: 20px;
  }

  .rank-card {
    padding: 0;
  }

  .about-content {
    padding: 25px 0 40px;
  }

  .paragraph {
    font-size: 0.8rem;
  }

  .grid-card {
    padding: 20px;
    gap: 10px;
  }

  .episode-heading {
    font-size: 1.2rem;
  }

  .episode-details {
    padding: 16px;
    gap: 8px;
  }

  .host-card {
    flex-direction: column;
  }

  .host-details {
    align-items: center;
  }

  .host-card {
    padding: 24px;
  }

  .host-p {
    text-align: center;
  }

  .footer-logo {
    width: 219px;
    height: 32px;
  }

  .footer-social-container {
    gap: 16px;
    flex-wrap: wrap;
    width: 245px;
    justify-content: center;
  }

  #footer-section {
    gap: 24px;
    padding: 40px 0;
    background-image: url('../images/footer-bg-sm.png');
  }
}

@media screen and (max-width: 415px) {
  .footer-social-icon {
    width: 15px;
  }

  .footer-social-p {
    font-size: 0.8rem;
  }
}